<main role="main">
  <div class="container" id="recipe-page">

    <section>
      <div class="row">
        <div class="col">
          <nav class="nav">
            <%= link_to "< View All Recipes", recipes_path, role: "navigation" %>
          </nav>
        </div>
      </div>
    </section>

    <section class="recipe">
      <div class="row">
        <div class="col">
          <ul class="list-group recipe-details">
            <li class="list-group-item recipe-title"><%= @recipe.title %></li>
            <li class="list-group-item"><%= @recipe.description %>/li>
            <li class="list-group-item">
              <label>Chef : </label>
              <%= @chef_name %>
            </li>

             <li class="list-group-item">
              <label>Tags : </label>
              <%= @tag_names %>
            </li>

             <li class="list-group-item">
              <label>Calories : </label>
              <%= @recipe.calories %>
            </li>
          </ul>
        </div>
        <div class="col">
          <img class="recipe-image" src="<%= @recipe.photo.image_url %>" />
        </div>
      </div>
    </section>
</main>